button {
    align-self: center;
    align-items: center;
    color: rgb(7, 7, 7);
}
.description{
    padding-top: 3%;
}
.form-control{
    border-radius: 25px;
    display: flex;
}
.dec{
    background-color:coral;
    color: rgb(6, 6, 7);
}