button {
    align-self: center;
    align-items: center;
    color: #00ff;
}
.description{
    padding-top: 3%;
}
.form-control{
    border-radius: 25px;
    display: flex;
}
.dec{
    background-color:coral;
    color: blue;
}